<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="material.com.top">

    <application
        android:name=".app.GankApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="material.com.top.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
