<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="material.com.web">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".WebActivity">
            <intent-filter>
                <action android:name="material.com.web.Web" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
